<style>
    a{
        padding-left:10px;
    }
    h2{
      margin-left: 30px;
    }
    table{
      margin-left: 30px;
    }
</style>
<a href="/">Voltar para página inicial</a>
<hr>
<h2>Localização das lojas</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Estado</th>
      <th scope="col">Endereço</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bahia</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>São Paulo</td>
      <td>Santos, Av. Ana Costa, 459</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rio de Janeiro</td>
      <td>São Gonçalo, Av. Barros Reis, 378</td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Minas Gerais</td>
      <td>Belo Horizonte, Av. Afonso Pena, 194</td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>Amazonas</td>
      <td>Manaus, Av. Getúlio Vargars, 786</td>
    </tr>
     <tr>
      <th scope="row">6</th>
      <td>Pernambuco</td>
      <td>Recife, Av. Boa Viagem, 583</td>

    </tr>
  </tbody>
</table>